html,
body {
  width: 100%;
}
/* @media (min-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
} */
.logo {
  position: absolute;
  height: 120px;
  width: 100px;
  z-index: 30;
  left: auto;
  top: -26px;
}
.navbar {
  background-color: #0096c7 !important;
}
.countries {
  background-color: #f5f5f5 !important;
}
ul {
  list-style-type: unset;
  text-align: start;  
}

a {
  text-decoration: none;
  color: grey;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #f5f5f5;
}
.nav-link {
  font-weight: 400;
}
.country {
  background-color: rgba(207, 207, 207, 0.466);
}
.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  align-items: center;
}

.grid > article {
  background: #ffff;
  border: none;
  box-shadow: 2px 2px 6px 0 px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  text-align: center;
  width: 260px;
  transition: transform 0.3s;
}

.grid > article:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.grid > article img {
  width: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
article a:hover {
  text-decoration: none;
  color: black;
}

.text {
  padding: 0 10px 10px;
}
.text h3 {
  text-transform: uppercase;
}
.card-title1 {
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: 'Montserrat';
}
.card-title1:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 25px;
  height: 2px;
  background: #e8000d;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > article {
    width: 230px;
  }
}
@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid > article {
    text-align: center;
  }
}

.abouttitle:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  width: 25px;
  height: 2px;
  background: #e8000d;
}

.abouttitle {
  font-size: 20px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-family: 'Advent Pro', sans-serif;
}
.title-templae {
  font-size: 2rem;
}

@media (max-width: 512px) {
  .text-migrate {
    margin-left: -10px !important;
    margin-right: -10px !important;
  }
  .title-template {
    font-size: 3rem;
  }
}

.col-lg-3 {
  padding-right: 0px;
}

.content-title {
  font-family: 'Advent Pro', sans-serif;
  color: #026788;
}

.content-subtitle {
  font-family: 'Advent Pro', sans-serif;
}

.content-para {
  font-family: 'Montserrat', sans-serif;
}
.about-content {
  font-family: 'Montserrat', sans-serif;
}
.col-md-6 {
  color:grey;
}